{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        
        <div id="screen">
            <div id="modelItems">
                <ul id="itemContainer">
                    {% for item in items %}
                        <li>
                            <div class="thumbnailContainer" id="{{item.name}}">
                                <img class="thumbnail" src="{{asset(item.picture)}}" alt="{{item.name}}"/>
                            </div>                       
                        </li>
                    {% endfor %}   
                </ul>
            </div>
            <div id ="screenTimer">
                {% for i in 0..(screenTimer-1) %}
                    <div class="timerBars" id="timerBar{{i}}"></div>
                {% endfor %}
                <p id="viewport">asdf</p>
                <a href ="{{ path('level', {'id': nextLevel}) }}">go</a>
                <button id='go'>go</button>
                <p id='score'>Current score is: {{score}}</p>
            </div>
        </div>
                
        <div id="controlePanel">
            <button id='button1-hide'>Hide</button>
            <button id="hide">Hide</button>
            <button id="show">Show</button>
            
            <h2>Total Items: {{model.totalItems}}</h2>
            <h2>Good Picks: <span id="gPicks"></span></h2>
            <h2>Bad Picks: <span id="bPicks"></span></h2>
        </div>
            
        
        
        <div id="modelPanel">
            <img id="model" src="{{asset(model.picture)}}" alt="{{model.name}}"/>
            <h1 id="timer">2</h1>
        </div>
            
        <div id="scoreboard">
            <img id="scoreboardPic" src="{{asset('images/statics/womanWithGlassesScoreCropped.jpg')}}" alt="scoreboardPic"/>
            
        </div>
    </div>
    
    <form id="picks" action="{{path('level', {'id': nextLevel})}}" method="post" >
        <input id="goodPicks" type="hidden" name="goodPicks" value="">
        <input id="badPicks" type="hidden" name="badPicks" value="">
    </form>
    
    
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery-1.12.2.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/jquery.easing.1.3.js')}}"></script>
    <script src="{{asset('js/jquery.animate-shadow-min.js')}}"></script>
    <script>
        var nextLevelUrl = "{{ path('level', {'id': nextLevel}) }}";
    </script>
    <script src="{{asset('js/main.js')}}"></script>
    
    
    
{% endblock %}
    

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{asset('css/main.css')}}>
{% endblock %}