{# empty Twig template #}
{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">
        <div id="screen">
            <div id="modelItems">
                <ul id="itemContainer">
                    {% for item in items %}
                        <li>
                            <div class="thumbnailContainer" id="{{item.name}}">
                                <img class="thumbnail" src="{{asset(item.picture)}}" alt="{{item.name}}"/>
                            </div>                       
                        </li>
                    {% endfor %}   
                </ul>
            </div>
        </div>
        <div id="controlePanel">
            <button id='button1-hide'>Hide</button>
            <button id="hide">Hide</button>
            <button id="show">Show</button>
            
            <h2>Total Items: {{model.totalItems}}</h2>
            <h2>Good Picks: <span id="goodPicks"></span></h2>
            <h2>Bad Picks: <span id="badPicks"></span></h2>
        </div>
        <div id="modelPanel">
            <img id="model" src="{{asset(model.picture)}}" alt="{{model.name}}"/>
            <h1 id="timer">10</h1>
        </div>
    </div>
    
    
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/jquery-1.12.2.min.js')}}"></script>
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script>
        var goodPicks = [];
        var badPicks = [];
        
        //Interface functions
        
        
        //Timer Countdown
        function timerLoop (i) {
            setTimeout(function () {
                var num = Number($('#timer').text());
                var label = String(num-i);
                $('#timer').fadeOut(500);
                setTimeout(function(){
                    $('#timer').text(i).fadeIn(500);
                }, 500);
                console.log(label);
                if (--i) {          // If i > 0, keep going
                    timerLoop(i);       // Call the loop again, and pass it the current value of i
                }
            }, 1000);
        };
        
        $(function(){
            //testing buttons
            $("#hide").click(function(){
                $("#modelPanel").hide();
            });
            $("#show").click(function(){
                $("#modelPanel").show();
            });
            
            $("#button1-hide").click(function(){
                $('#modelItems').toggle();
                $(this).text(function(i,text){
                    return text === "Hide" ? "Show" : "Hide";
                });
            });
            
            //Highlight items
            $(".thumbnailContainer").mouseenter(function(){
                $(this).animate({
                    height: '115%',
                    width: '276px',
                    //borderStyle: 'dashed',
                    //borderColor: '#99ff00',
                    //borderWidth: '5px',
                });
            });
            
            $(".thumbnailContainer").mouseleave(function(){
                $(this).animate({
                    height: '100%',
                    width: '240px',
                    //borderStyle: 'solid',
                    //borderColor: '#99ff00',
                    //borderWidth: '0px',
                });
            });
            
            //Select items and register picks
            $(".thumbnailContainer").click(function(){
                $(this).toggleClass('selected');
                var pattern = /fake/;
                var currentId = $(this).attr('id');
                var goodText = '';
                var badText = '';
                
                if ($(this).hasClass('selected')) {
                    if (pattern.test(currentId)) {
                        badPicks.push(currentId);
                    } else {
                        goodPicks.push(currentId);
                    };                 
                } else {
                    if (pattern.test(currentId)) {
                        badPicks.pop(currentId);
                    } else {
                        goodPicks.pop(currentId);
                    }
                };
                
                for (item in goodPicks) {
                    goodText += goodPicks[item] + ', ';
                };
                for (item in badPicks) {
                    badText += badPicks[item] + ', ';
                };

                $('#goodPicks').text(goodText);
                $('#badPicks').text(badText);
                
                console.log(goodPicks);
                console.log(badPicks);
            });
            
            //evaluate picks
            
            //
            $('#modelPanel').fadeIn(1000);
            $('#model').css('left', '-600px').
                    animate({
                    left: '10%'
                }, 1500, 'swing');
            
            //countdown timer
            setTimeout(function(){
                timerLoop(Number($('#timer').text()));
            }, 1500)
                
        });        
    </script>
    
    
    
{% endblock %}
    

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{asset('css/main.css')}}>
{% endblock %}